
DB_USER=docker
DB_HOST=eletric_invoices_db
DB_PASSWORD=123
DB_PORT=5432
DB_NAME=eletric_invoices_db
ENVIRONMENT=dev
PORT=5555
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
X-API-KEY=02753s836-edce-48s74-b007-2419s8efa4f0d
